header {
  > span {
    position: absolute;
    width: 100%;
    background: #484283;
    height: 0px;
  }

  .bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #484283;
    z-index: 2000;
    width: 100%;
    max-width: 1920px;
    opacity: 0.5;
  }

  .bgHeader {
    display: flex;
    justify-content: space-around;
    position: relative;
    background: #484283;
    height: 69px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 1180px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: #484283;

    img {
      margin: 20px 0;
    }
  }
}

.navHeader {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

header.container {
  width: 1920px;
  background: #484283;
}

.basket {
  display: flex;
  gap: 10px;
  background-color: inherit;
  font-size: 14px;
  color: #fff;
  font-family: "Intro-book", sans-serif;
  padding-right: 5px;
  cursor: pointer;
  z-index: 2000;
  border: initial;
  align-items: center;

  svg {
    position: relative;
  }

  span {
    position: absolute;
    right: 0;
    top: 35px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #f14f4f;
    font-size: 14px;
    color: #fff;
  }
}

@media (max-width: 800px) {
  .navHeader {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}
