footer {
  display: flex;
  justify-content: space-around;
  background-color: #444b58;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;

    img {
      margin: 28px 0;
    }
  }
}

.navFooter {
  display: flex;
  gap: 40px;
  margin: 20px 0;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 800px) {
  .navFooter {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 5px;
    padding: 0 10px;
  }
}

@media (max-width: 520px) {
  footer {
    .footerContainer {
      justify-content: flex-start;
      padding: 5px;
      img {
        display: none;
      }
    }
  }
}
